          <ul class="nav navbar-nav">
            <li>
              <a href="/archives.html">
                目 录
              </a>
            </li>
            <li>
              <a href="/faqs.html">
                备 忘
              </a>
            </li>
            <li>
              <a href="https://github.com/karchi?tab=repositories">
                项 目
              </a>
            </li>
            <li>
              <a href="/about.html">
                关 于
              </a>
            </li>
          </ul>
