          <ul class="nav navbar-nav">
            <li>
              <a href="{{ site.baseurl }}/archives.html">
                归 档
              </a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/categories.html">
                分 类
              </a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/faqs.html">
                备 忘
              </a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/about.html">
                关 于
              </a>
            </li>
          </ul>
