--- 
layout: default 
--- 
<!-- Blog Post -->
<!-- Title -->
<h2>
  {{ page.title }}
  <div class="post-date">
	{{ site.author_info }}发表于{{ page.date | date:"%Y-%m-%d %H:%M" }}
  </div>
</h2>
<!-- Author -->
<hr>
<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">版权声明</a>：转载时请以超链接形式标明文章原始出处和作者信息
<br/>
{{ site.baseurl }}{{page.url}}
<br/>
<br/>
{{ content }}
<br/>
<div style="margin-top:10px;margin-bottom:10px">
  {%if page.previous%}
  <span class="next">
    
    <a href="{{ site.baseurl }}{{page.previous.url}}">
      上一篇：{{page.previous.title}}
    </a>
  </span>
  {%endif%} 
  &nbsp;|&nbsp; <a href="{{ site.baseurl }}/index.html">首页</a> &nbsp;|&nbsp;
  {%if page.next%}
  <span class="prev">
    
    <a href="{{ site.baseurl }}{{page.next.url}}">
     下一篇：{{page.next.title}}
    </a>
  </span>
  {%endif%}
</div>
<hr>
<!-- Blog Comments -->
<div class="media">
  {% include comment.html %} 
</div>
